@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        margin: 0;
        padding: 0;
        font-family: 'Nunito', sans-serif;
    };
}

@layer components {
    .menu-link {
        @apply block px-4 py-4 hover:opacity-60 duration-200 max-md:text-2xl;
    }
    .link {
        @apply hover:opacity-60 duration-200 cursor-pointer;
    }
    .input_news {
       border: none;
       border-radius: 50px;
       padding: 8px 20px;
       min-width: 300px;
    }
    .item_footer_list {
        @apply mt-3;
    }
    .input-connect {
        @apply bg-secondary border border-[#C0BCBC] px-5 rounded-3xl p-2 w-2/5 mt-4;
    }
    .dispo {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .title-shadow {
        text-shadow: 3px 2px 0 rgba(0, 0, 0, 0.5);
    }
}